:root {
  --primary-font: "IRANSans";
  --primary-bg-light: rgb(24 27 36);
  --primary-bg-modal: rgb(36 41 55);

  --primary-color-orange: rgb(255, 109, 52);
  --primary-color-green: rgb(0, 189, 166);
  --white-color: #fff;
  --gray-color: #5f5f5f;
  --dark-color: #464749;
  --text-gray: #bababa;
}
