@import url("../vendor/slick-slider/slick.css");
@import url("../vendor/slick-slider/slick-theme.css");
@import "../vendor/Bootstrap/bootstrap.min.css";
@import "./reset.css";
@import "./variables.css";
@import "./fonts.css";
@import "./modals.css";
@import "./top-bar.css";
@import "./footer.css";
@import "./responsive.css";

body {
  background-color: #fefefe;
}

#main .description {
  position: relative;
  /* background-image: url(../img/bg/course_page-bg.jpg); */
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.description__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.9);
}
.description .container * {
  /* z-index: 22; */
}
.description .container {
  margin-top: 200px;
  z-index: 11;
}
.description__title-p {
  position: relative;
}
.description__title-p::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 70%;
  background: var(--primary-color-orange);
  right: -10px;
  top: 5px;
}
.description__title-h {
}
.description__location .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--white-color);
  bottom: 3px;
  left: 0;
  transition: 0.4s all ease-in-out;
}
.description__location .nav-link.active::after {
  width: 100%;
  transition: 0.7s all ease-out;
}
.description__location .nav-link:not(.active):hover ~ .active::after {
  width: 0;
}
.description__location .nav-link:not(.active):hover::after {
  width: 100%;
}
.description__text {
  max-width: 600px;
  font-size: 20px;
}
.description__btn .btn {
  background: var(--primary-color-green);
  border: 2px solid var(--primary-color-green);
  color: var(--white-color);
}
.description__btn .btn:hover {
  background: transparent;
}

/* courses */
.learning__info__decription {
  background: #f8f8f8;
}
.learning__info__decription svg,
.learning__info__decription i {
  color: rgb(0, 189, 166) !important;
  width: 16px;
  height: 16px;
}
.teacher__info img {
  width: 45px;
  height: 45px;
}

.teacher__stars i {
  color: #ffb606;
}
.course__img {
  height: 550px;
}
.content__menu .breadcrumb-item {
  cursor: pointer;
}
.content__menu .breadcrumb-item.active {
  background: var(--primary-color-orange) !important;
  color: var(--white-color) !important;
}
.content__menu .breadcrumb-item:not(:last-of-type):after {
  position: absolute;
  content: "";
  width: 0.7px;
  background: #d9d9d9;
  height: 50%;
  left: 0px;
}

.course__review-intro {
  background: #f8f8f8;
}
.course__review-intro svg {
  padding-left: 0.3rem;
  width: 15px;
  height: 15px;
}
.course__review-intro path {
  color: var(--primary-color-green);
  font-weight: bold;
}
.course__videos .accordion-button {
  position: relative;
  margin-right: 30px;
  font-size: 18px;
  width: -webkit-fill-available;
}
.course__videos .accordion-button:focus {
  box-shadow: none;
}
.course__videos .accordion-button {
  box-shadow: none;
}
.course__videos .accordion-button::after,
.course__videos .accordion-button::before {
  content: "";
  position: absolute;
  background-image: none;
  width: 12px;
  height: 2.5px;
  right: -10px;
  background: var(--primary-color-green);
}
.course__videos .accordion-button::after {
  transform: rotate(90deg);
}
.course__videos .accordion-button:not(.collapsed) {
  color: var(--primary-color-orange);
  background: none;
}
.course__videos .accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
  background-image: none;
}
.course__videos .list-group-item {
  border-left: 0 !important;
  border-right: 0 !important;
}
.course__videos .list-group-item:last-child {
  border-bottom: 0 !important;
}
.course__videos .list-group-item a .course__video__title {
  transition: 0.4s all;
}
.course__videos .list-group-item a:hover .course__video__title {
  color: var(--primary-color-green);
}
.course__teacher-img img {
  width: 170px;
  height: 170px;
}
.course__teacher-socials i {
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s all;
  width: 30px;
  height: 30px;
}
.course__teacher-socials i:hover {
  transform: translateY(-10px);
}

/* comments */
.comment.answer {
  width: 90%;
}
.comment img {
  width: 80px;
  height: 80px;
}
.comment .reply {
  padding: 6px 10px;
  cursor: pointer;
  font-size: 0.9em;
  left: 18px;
  top: 18px;
}
.cancel-answer {
  border: 1.7px solid #dc3545;
}
.cancel-answer:hover {
  color: var(--white-color) !important;
}
.comment .reply {
  transition: 0.3s all;
  border: 1.8px solid var(--primary-color-green);
}
.comment .reply:hover {
  color: var(--primary-color-green) !important;
  background: transparent !important;
}
.empty__comments {
}
.contain-img {
  width: fit-content;
}
.date-comment {
  font-size: 14px;
}
textarea {
  resize: none;
}
.send__comment .submit-comment {
  border: 2px solid var(--primary-color-orange) !important;
}
.send__comment .submit-comment:hover {
  border: 2px solid var(--primary-color-orange);
  color: var(--primary-color-orange) !important;
}
.course__star-icons {
  cursor: pointer;
}
/* smae courses */
.courses__same .course__box {
  position: relative;
  height: 380px;
  background-position: inherit !important;
}
.courses__same .course__box-container {
  cursor: pointer;
  transition: 0.4s all;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #8b727278;
}
.courses__same .course__box-content {
  position: relative;
  transition: 0.4s all;
}

.courses__same .course__box-content::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  transition: 0.4s all;
}
.courses__same .course__box-container:hover .course__box-content::after {
  background: var(--white-color);
}
.courses__same .course__box-container:hover .course__box-title {
  color: var(--dark-color);
}
.courses__same .course__box-container:hover svg {
  color: var(--primary-color-orange);
}
.course__box-container:hover .course__box-teacher,
.courses__same .course__box-container:hover .course__box-number-star {
  color: var(--gray-color-less) !important;
}

.courses__same .course__box-bg-img {
  margin: 0 24px;
  background: url(../img/about-us.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  width: -webkit-fill-available;
  height: 100%;
  border-radius: 10px;
  filter: brightness(0.7);
  right: 0;
}
.courses__same .course__box-category {
  position: absolute;
  font-size: 12px;
  right: 20px;
  top: -17px;
}
.courses__same .course__box-category:hover {
  background: var(--primary-color-green);
}
.courses__same .course__box-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.courses__same .course__box-img img {
  height: 100%;
  border-radius: 50%;
}
.courses__same .course__box-description {
  border-bottom: 1px solid #ffffff62;
}
.courses__same .course__box-title {
  transition: 0.4s all;
}
.courses__same .course__box-title:hover {
  color: var(--primary-color-green) !important;
}
.courses__same .course__box-state {
  cursor: default;
}
.courses__same .course__box-price {
  font-size: 14px;
  transition: 0.4s all;
  border: 2px solid var(--primary-color-green);
}
.courses__same .course__box-price:hover {
  background: transparent;
  color: var(--primary-color-green) !important;
}
.courses__same .course__box-number-star {
  margin: 3px 6px;
}

.bi-star::before,
[class^="bi-star"]::before,
[class*=" bi-star"]::before {
  font-size: 17px;
  /* background: -webkit-linear-gradient(0deg, #ffb606 40%, #6062622b 60%); */
  background: var(
    --star-fill-color,
    -webkit-linear-gradient(0deg, #ffb606 100%, #6062622b 0%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 17px;
}
.average__star-icons {
  direction: ltr;
}
.not__found__course {
  background: #e95374de;
  border: 1px solid rgba(245, 66, 105, 0.871);
  width: 100%;
}

/* search */
.line-side::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 35%;
  background: #ded3d3df;
  top: 33%;
  right: -3%;
}
.learning_search-box {
  left: 79px;
  top: 144px;
  padding: 48px 0;
}

.learning_search-box .search__box-icon {
  cursor: pointer;
  left: 7px;
  top: 9px;
  padding: 0.4rem 0.6rem;
  transition: 0.4s all;
}
.learning_search-box .search__box-icon:hover {
  background-color: var(--primary-color-orange);
}
.learning_search-box .search__box-icon svg {
  width: 20px;
  height: 20px;
  font-weight: bold;
  color: #fff;
}

.learning__tag-box {
  cursor: pointer;
  background: rgb(155 155 155 / 12%);
  color: #5f5f5f;
  font-size: 14px;
  transition: 0.3s all;
  transition-timing-function: ease-in-out;
}
.learning__tag-box:hover {
  background-color: var(--primary-color-green);
  color: var(--white-color);
}
.learning_courses-page-box {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: rgb(240, 240, 240);
  border-radius: 7px;
  transition: 0.3s all ease-in-out;
}
.learning_courses-page-box:hover,
.learning_courses-page-box.active {
  color: var(--white-color) !important;
  background-color: var(--primary-color-green);
}
@media screen and (min-width: 992px) {
  .course__box {
    height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .breadcrumb-item {
    border: none !important;
  }
}
@media screen and (max-width: 576px) {
  .course__box {
    height: 300px;
  }
  .course__img {
    height: 300px !important;
  }
  .contain-img img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 400px) {
  .course__details .breadcrumb-item {
    border-left: none !important;
  }
  .empty__comments {
    font-size: 17px !important;
  }
}
