/* footer */
.page-footer {
  background-color: #12141b;
  padding-top: 5rem !important;
  font-size: 18px;
}
.page-footer * {
  color: var(--white-color);
}
.footer-information {
  margin: 5rem auto !important;
  width: fit-content;
}
.footer-contact svg {
  font-size: 15px;
  cursor: pointer;
}
.footer-contact path {
  color: var(--text-gray);
  transition: 0.3s all;
}
.footer-contact svg:hover path {
  color: var(--white-color);
}
.footer-courses li {
  padding: 0.3rem 0;
}
.footer-courses a {
  color: var(--text-gray);
}
.footer-courses .under__line-animate::before,
.footer-courses .under__line-animate::after {
  height: 1px;
}
.footer-copyright {
  font-size: 16px;
  padding-right: 0;

  text-align: center !important;
}
.under__line-animate::after,
.under__line-animate::before {
  position: absolute;
  content: "";
  height: 4px;
  bottom: -5px;
  width: 0;
  background: var(--primary-color-green);
  transition: 0.5s all;
  right: 50%;
}
.under__line-animate:hover {
  color: var(--primary-color-green);
}
.under__line-animate:hover::before {
  width: 50%;
  left: 0;
}
.under__line-animate:hover::after {
  width: 50%;
  right: 0;
}
@media screen and (min-width: 992px) {
  .footer-copyright {
    font-size: 16px;
    padding-right: 10rem;
    text-align: start !important;
  }
}
@media screen and (min-width: 1200px) {
  .map-footer {
    height: 165px;
  }
}
@media screen and (max-width: 1200px) {
  .map-footer {
    height: 125px;
  }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 575px) {
}
