@import "../vendor/Bootstrap/bootstrap.min.css";
@import "./reset.css";
@import "./variables.css";
@import "./fonts.css";
@import "./top-bar.css";
@import "./responsive.css";

body {
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  padding: 5rem;
}
.toggle__btns__form {
  width: fit-content;
  cursor: pointer;
}
.toggle__btns__form .active {
  color: #fff !important;
  background: var(--primary-color-orange) !important;
}
.form__container {
  max-width: 465px;
}
form {
}
.form-check-label {
  font-size: 14px;
}
.form__container a:hover {
  color: var(--dark-color);
}
.form__container .btn {
  border: 2px solid var(--primary-color-green);
}
.form__container .btn:hover {
  color: var(--dark-color) !important;
}

/* swal custom style */

.swal2-title {
  font-size: 22px;
}
.swal2-confirm {
  padding: 0.8rem 1.8rem;
  background: var(--primary-color-orange) !important;
  border: 2px solid var(--primary-color-orange) !important;
  transition: 0.3s all;
  outline: none;
  font-weight: bold;
}
.swal2-confirm:hover {
  background-color: transparent !important;
  color: #0e0e0e;
}
.swal2-confirm:focus {
  box-shadow: none !important;
}
/* swal custom style */

@media screen and (min-width: 992px) {
  .form__container {
    padding: 30px 40px !important;
  }
}
@media screen and (max-width: 550px) {
  .login__form {
    zoom: 0.8;
  }
  #main {
    padding: 2.5rem;
  }
}
