.container-fluid > div {
  /* height: 100%; */
}

/* description */

#main .description {
  position: relative;
  background: url("../img/poster.jpg");
  height: 700px;
  background-position: 46% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}
.description__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #32312fa6;
}
.description .container * {
  /* z-index: 22; */
}
.description .container {
  margin-top: 200px;
  z-index: 11;
}
.description__title-p {
  position: relative;
}
.description__title-p::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 70%;
  background: var(--primary-color-orange);
  right: -10px;
  top: 5px;
}
.description__title-h {
  max-width: 300px;
}
.description__text {
  max-width: 600px;
  font-size: 20px;
}
.description__btn .btn {
  background: var(--primary-color-green);
  border: 2px solid var(--primary-color-green);
  color: var(--white-color);
}
.description__btn .btn:hover {
  background: transparent;
}

/* education */

.education__comments {
  background: var(--primary-color-green);
  z-index: 111;
}
.infobox_icon_container {
  background-image: url("../img/icon_bg-02.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
.infobox_icon_container svg {
  width: 47%;
  height: 100%;
  color: var(--primary-color-green);
}
.education__comments__content .form-title {
  background: var(--primary-color-orange);
}
.line-side {
  position: relative;
}
.line-side::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 32%;
  background: #ded3d3df;
  top: 36%;
  right: 72px;
}
.education__comments__content .form-title span::before {
  height: 31px;
  top: 3%;
  right: -5%;
}
.education__comments__content form {
  background: var(--white-color);
}
.education__comments__content .form-control {
  background: #f3f3f3;
  box-shadow: none;
  transition: 0.4s all;
}
.education__comments__content .form-control.btn {
  background: var(--primary-color-green);
  border: 2px solid var(--primary-color-green);
}
.education__comments__content .form-control.btn:hover {
  background: transparent;
  color: var(--primary-color-green);
}
input:focus,
input {
  outline: none;
  border: none;
}
input::placeholder {
  transition: 0.3s all;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
.education__comments__link {
  position: relative;
  font-weight: bold;
  font-size: 15px;
}
.text-decorate-animate::before {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--white-color);
  width: 0;
  bottom: -7px;
  left: 50%;
  transition: width 0.35s ease-in-out;
}
.text-decorate-animate::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--white-color);
  width: 0;
  bottom: -7px;
  right: 50%;
  transition: width 0.35s ease-in-out;
}
.education__comments__link:hover::before {
  width: 50%;
}
.education__comments__link:hover::after {
  width: 50%;
}

/* about-us */
.about__us__content {
  position: relative;
  padding-bottom: 8rem;
}
.about__us__content::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #5f5f5f59;
  width: 86%;
  right: 8%;
}
.about__us__img {
  position: relative;
}
.about__us__img img {
  clip-path: ellipse(45% 50% at 47% 50%);
}
.about__us__img .bg-green {
  width: 60px;
  height: 60px;
  left: 45px;
  top: 46px;
  z-index: 1;
}
.about__us__img .bg-orange {
  width: 40px;
  height: 40px;
  right: 145px;
  top: 65px;
  z-index: 1;
}
.people-confirmation {
  bottom: -6px;
  left: 75px;
  z-index: 1;
  width: 150px;
  height: 150px;
  box-shadow: 1px 3px 7px #86808044, 1px 3px 7px #86808044,
    1px 3px 7px #86808044;
}
.people-confirmation * {
  font-weight: bold;
}
.about__us__description .span {
  position: relative;
  font-weight: 800;
}
.about__us__description .span::before {
  right: -10px;
  height: 18px;
  top: 3px;
}
.about__us__description button {
  border: 2px solid var(--primary-color-orange);
}
.about__us__description button:hover {
  background: transparent;
  border: 2px solid var(--primary-color-orange);
  color: var(--primary-bg-light) !important;
}

/* menu */
.about__us_courses-menu a {
  color: #232727db;
  font-size: 14px;
}
.about__us_courses-menu a.active {
  color: var(--primary-color-green) !important;
}
.about__us_courses-menu a::before {
  right: 0;
  width: 2.5px;
  height: 16px;
  top: 13px;
}
.about__us_courses-menu a:hover {
  color: var(--primary-color-green);
}

.about__us_courses-boxes {
  /* course__boxes */
}
.course__box {
  position: relative;
  height: 380px;
  background-position: inherit !important;
}
.course__box-container {
  cursor: pointer;
  transition: 0.4s all;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #8b727278;
}
.course__box-content {
  position: relative;
  transition: 0.4s all;
}

.course__box-content::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  transition: 0.4s all;
}
.course__box-container:hover .course__box-content::after {
  background: var(--white-color);
}
.course__box-container:hover .course__box-title {
  color: var(--dark-color);
}
.course__box-container:hover svg {
  color: var(--primary-color-orange);
}
.course__box-container:hover .course__box-teacher,
.course__box-container:hover .course__box-number-star {
  color: var(--gray-color-less) !important;
}

.course__box-bg-img {
  margin: 0 24px;
  background: url(../img/about-us.jpg);

  z-index: -1;
  width: -webkit-fill-available;
  height: 100%;
  border-radius: 10px;
  filter: brightness(0.7);
  right: 0;
}
.course__box-category {
  position: absolute;
  font-size: 12px;
  right: 20px;
  top: -17px;
}
.course__box-category:hover {
  background: var(--primary-color-green);
}
.course__box-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.course__box-img img {
  height: 100%;
  border-radius: 50%;
}
.course__box-description {
  border-bottom: 1px solid #ffffff62;
}
.course__box-title {
  transition: 0.4s all;
}
.course__box-title:hover {
  color: var(--primary-color-green) !important;
}
.course__box-state {
  cursor: default;
}
.course__box-price {
  font-size: 14px;
  transition: 0.4s all;
  border: 2px solid var(--primary-color-green);
}
.course__box-price:hover {
  background: transparent;
  color: var(--primary-color-green) !important;
}
.course__box-star svg {
  color: #ffb300;
}
.about__us__btn {
  border: 2px solid var(--primary-color-green) !important;
}
.about__us__btn:hover {
  background: transparent;
  border: 2px solid var(--primary-color-green);
  color: var(--primary-color-green) !important;
}

/* brands */
.brand__slider {
  margin: 5rem 0;
  padding: 5rem 0;
}
.slick-list {
  direction: ltr;
}
.brand__item img {
  width: auto;
  margin: auto;
  filter: opacity(0.8) brightness(10);
  transition: 0.3s all;
  cursor: pointer;
}
.brand__item img:hover {
  filter: opacity(1) brightness(20);
}

/* caategory courses */
.caategories__courses {
  background: url("../img/bg/bg-slider.jpg") !important;
  padding: 7rem 0;
  padding-bottom: 11rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}
.caategories__courses-description {
}
.caategories__courses-title span::before {
  right: 16px;
  top: 5px;
  height: 20px;
}
.caategories__courses-description .btn {
  background: #3a3f4b;
}
.caategories__courses-description .btn:hover {
  background: var(--white-color);
  color: var(--dark-color) !important;
}
.caategories__courses-slider .slick-list {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.caategories__courses-slider .slick-dots li {
  background: #ffffff91;
}
.caategories__courses-slide {
  position: relative;
  cursor: pointer;
  height: 320px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s all;
}
.caategories__courses-slide:hover {
  transform: translateY(-15px);
}
.caategories__courses-slide:hover span {
  color: var(--primary-color-orange) !important;
}
.caategories__courses-slide img {
  position: absolute;
  width: -webkit-fill-available;
  border-radius: 10px;
  top: 0;
  z-index: -1;
  right: 1rem;
  left: 1rem;
}
.caategories__courses-slider .slick-arrow {
  width: 0;
  z-index: 1;
}
.caategories__courses-slider .slick-arrow::before {
  position: absolute;
  font-size: 25px;
  background-color: #3f393984;
  padding: 0.5rem;
  border-radius: 50%;
  font-family: "IRANSans";
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
}
.caategories__courses-slider .slick-arrow:hover::before {
  background-color: var(--white-color);
  color: var(--primary-color-orange);
}
.caategories__courses-slider .slick-prev::before {
  left: 50px;
}
.caategories__courses-slider .slick-next::before {
  right: 50px;
}

.caategories__courses-slider:hover .slick-next::before {
  right: -8px;
  opacity: 1;
  visibility: visible;
}
.caategories__courses-slider:hover .slick-prev::before {
  left: -8px;
  opacity: 1;
  visibility: visible;
}
.caategories__courses-slide svg {
  color: #ffffffd1;
  width: 80px !important;
  height: 80px !important;
}
.caategories__courses-content span {
  font-size: 14px;
  padding: 0.4rem 0.7rem;
  transition: 0.4s all;
}

.categories__courses-timer {
  top: 73px;
  border-radius: 13px !important;
  padding: 3rem 4.5rem;
}
.categories__courses-timer-number {
  direction: ltr;

  gap: 1rem;
}
.categories__courses-timer-number .dot-space {
  margin-top: -20px;
}
.categories__courses-timer-number span:not(.dot-space) {
  position: relative;
  display: flex;
  justify-content: center;
}
.categories__courses-timer-number span:not(.dot-space)::after {
  position: absolute;
  font-size: 18px;
  bottom: -16px;
}
.categories__courses-timer-number .day::after {
  content: "روز";
}
.categories__courses-timer-number .hour::after {
  content: "ساعت";
}
.categories__courses-timer-number .minute::after {
  content: "دقیقه";
}
.categories__courses-timer-number .second::after {
  content: "ثانیه";
}
/* teachers */
.teachers {
  padding-top: 10rem;
}
.teachers__information-boxes {
  margin-bottom: 8rem !important;
  max-width: 100vw;
  width: 100%;
}
/* .slick-dots li {
  background-color: #46444466;
  width: 7px;
  height: 7px;fblogs__boxes
  border-radius: 50%;
}
.teachers__information-boxes .slick-active {
  background-color: transparent !important;
}
.slick-dots li button {
  z-index: 11111;
  margin: -6px;
  width: 17px;
  height: 17px;
}
.slick-dots li.slick-active button:before {
  color: rgb(255 72 0);

  top: -7px;
  left: -5px;
  font-size: 44px;
}

.slick-dots li button:not(li.slick-active button):hover::before {
  color: var(--primary-color-orange);
} */

.teachers__information-boxes .slick-list .slick-track {
}
.teachers__information-box {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}
.teachers__information-box-content {
  position: relative;
  cursor: pointer;
  transition: 0.4s all;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.teacher-img img {
  filter: brightness(0.8);
  transition: 0.4s all;
}
.teacher-Specifications {
  direction: rtl;
}

.teacher-Specifications-bg {
  width: 100%;
  height: 100%;
  background: rgba(209, 205, 205, 0.295);
  box-shadow: 6px 5px 14px rgba(0, 0, 0, 0.08);
  top: 0;
  z-index: -1;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: 0.4s;
}

.teacher__contact {
  top: -13px;
}

.teacher__contact-icon {
  display: inline-block;
  width: 33px;
  background: var(--primary-color-green);
  padding: 0.3rem 0.6rem;
  transition: 0.6s all;
  transition-delay: 0.1s;
}

.teacher__contact-icon:first-of-type {
  border-radius: 6px;
}
.teacher__contact-icon:last-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.teacher__contact-icon:nth-last-of-type(1) {
  transform: translateX(-28px);
}
.teacher__contact-icon:nth-last-of-type(2) {
  transform: translateX(-21px);
}
.teacher__contact-icon:nth-last-of-type(3) {
  transform: translateX(-14px);
}
.teacher__contact-icon:nth-last-of-type(4) {
  transform: translateX(-7px);
}
.teacher__contact-icon:not(.teacher__contact-icon:first-of-type) {
  opacity: 0;
  visibility: hidden;
}
.teachers__information-box-content:hover {
  box-shadow: 6px 5px 14px rgba(0, 0, 0, 0.08);
}
.teachers__information-box-content:hover .teacher-Specifications-bg {
  background: #fff;
}
.teachers__information-box-content:hover img {
  filter: brightness(1);
}
.teachers__information-box-content:hover .teacher__contact-icon {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.teachers__information-box-content:hover .teacher__contact-icon:first-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.teacher__contact-icon {
  width: 16px;
  height: 16px !important;
  padding: 0.6rem;
  color: var(--white-color);
  font-weight: bold;
  transition: 0.7s all;
}
.teacher__contact-icon.fa-instagram:hover {
  background-color: #e348bf;
}
.teacher__contact-icon.fa-facebook:hover {
  background-color: #0c399b;
}
.teacher__contact-icon.fa-twitter:hover {
  background-color: #35aded;
}
.teacher__contact-icon.fa-linkedin-in:hover {
  background-color: #4466b0;
}
/* Satisfaction */
.Satisfaction {
  margin-bottom: 10rem;
}
.Satisfaction__content {
  background: url("../img/bg/bg-counter.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.Satisfaction-title .h3 {
  font-size: 40px;
}
.Satisfaction-title .h5 {
  font-size: 22px;
}
.Satisfaction-title.line-side::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 91%;
  background: #ece4e469;
  top: 2px;
  right: 77px;
}

/* blogs */

.blogs__description .line-side::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 73%;
  background: #ded3d3df;
  top: 4px;
  right: -2%;
}
.blogs__description .btn {
  border-color: var(--primary-color-orange) !important;
}
.blogs__description .btn:hover {
  color: var(--dark-color) !important;
}
.blogs__boxes {
  cursor: pointer;
  padding-bottom: 3rem;
  margin-bottom: 5rem !important;
}
.blog__box {
  margin: 0 0.5rem;
}
.blog__box-container {
  position: relative;
  overflow: hidden;
}
.blog__box-date {
  background: var(--primary-color-green);
  width: 150px;
  height: 150px;
  top: -75px;
  left: -75px;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.date-month {
  position: absolute;
  top: 55%;
  left: 70%;
  font-size: 12px;
  color: var(--white-color);
}
.date-day {
  position: absolute;
  left: 63%;
  top: 69%;
  color: var(--white-color);
}
.blog__box-img {
  background: url("../img/teachers/christina-chi-380x422.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 7px;
  transition: 0.5s all;
}
.blog__box-img img {
}
.blog__box-img:hover {
  filter: brightness(0.5);
}
.blog__box__tags {
  font-size: 14px;
}
.blog__box__author,
.blog__box-category,
.blog__box-title {
  transition: 0.4s all;
}
.blog__box__author:hover,
.blog__box-title:hover,
.blog__box-category:hover {
  color: var(--primary-color-orange);
}
.blog__box__content {
  direction: rtl;
}
.blog__box__content a.d-inline-block {
  position: relative;
  border-bottom: 4px solid rgb(223, 223, 223);
  transition: 0.4s all;
}

@media screen and (max-width: 991.5px) {
  .education__comments__text {
    text-align: center;
  }
  .people-confirmation {
    width: 120px;
    height: 120px;
  }
  .people-confirmation * {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .blogs .container {
    padding: 0 2rem;
  }
}
