.no-scroll {
  overflow-y: hidden;
  height: 100vh;
}
.navbar__info .container-fluid {
  height: 45px;
  background: var(--primary-bg-light);
}
.navbar__info * {
  color: rgb(172, 172, 174, 1);
  font-size: 14px !important;
}
.navbar__info__right {
  border-left: 1px solid rgb(172 172 174 / 20%);
  text-align: end;
}
.navbar__info__right-place:hover,
.navbar__info__left-gmail a:hover {
  color: var(--primary-color-green);
}
nav.user-out .user-info {
  display: none !important;
}
.navbar__info__left-gmail .user-info {
  position: relative;
  border: 2px solid var(--primary-color-green);
  border-bottom: none;
  transition: 0.48s all ease-out;
  background-image: linear-gradient(
    40deg,
    var(--primary-color-green) 40%,
    transparent 40%
  );
  background-position: 100%;
  background-size: 400%;
}
.navbar__info__left-gmail .user-info:hover {
  background-position: 0;
}
.navbar__info__left-login .btn {
  height: 100%;
}
.navbar__info__left-login svg {
  width: 36px;
}
.navbar__info__left-accessibility {
  height: 100%;
}
.navbar__info__left-login .btn {
  background: var(--primary-color-orange);
  color: var(--white-color);
  border-radius: 0;
  transition: 0.4s all;
}
.navbar__info__left-login .btn:hover {
  background: var(--primary-color-green);
}
.navbar__info__left-login .btn path {
  color: var(--white-color);
}
.navbar__info__left-social-media {
  cursor: pointer;
  height: 100%;
}
.navbar__info__left-social-media svg {
  width: 16px;
  height: 16px;
}
.navbar__info__left-social-media path {
  transition: 0.5s all;
}
.navbar__info__left-social-media-icon:hover path {
  color: var(--primary-color-orange);
}
.navbar__brand {
  max-width: 110px;
}

.navbar__header__menu {
  position: absolute;
  border-bottom-color: rgb(157 155 152 / 68%) !important;

  width: 100%;
  z-index: 1111;
}
.navbar__header__menu.scroll {
  position: fixed;
  transition: 0.4s all;
  top: -100px;
}
.navbar__header__menu.scroll .navbar-nav .nav-link {
  color: #000 !important;
}
.plus-toggle::after {
  content: "+";

  padding-right: 7px;
}
.nav-item > a {
  font-weight: 600;
  /* padding: 2.3rem 0; */
}

.nav-item.dropdown .dropdown-menu {
  left: -45px;
  background: rgb(36 41 55);
  /* overflow: hidden; */
}
.nav-item.dropdown .dropdown-menu a {
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  padding-right: 2.5rem;
  padding-left: 4rem;
  text-align: right;
}
.nav-item.dropdown .dropdown-menu a.active {
  background: none;
  color: var(--primary-color-orange) !important;
}
.nav-item.dropdown .dropdown-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 21px;
  top: -21px;
  right: 0;
}

.navbar__header__menu.fix .navbar__icon__box {
  color: #fff;
}
.navbar__icon__box svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: 0.3s all;
}
.navbar__icon__box .bi-x,
.navbar__icon__box .close .bi-search-heart {
  opacity: 0;
  visibility: hidden;
  width: 0;
}
.navbar__icon__box .close .bi-x {
  opacity: 1;
  visibility: visible;
  width: 35px;
  height: 35px;
}

.check-basket,
.check-search {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all;
}
.bi-bag-check:hover .check-basket,
.bi-search-heart:hover .check-search {
  opacity: 1;
  visibility: visible;
}

.navbar .line-bottom-item {
  position: absolute;
  bottom: -1px;

  height: 3px;
  border-radius: 100px;
  background: #fff;
  transition: 0.5s all;
}
.navbar__header__menu.scroll .line-bottom-item {
  background-color: var(--primary-color-green);
  height: 3.5px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.navbar-toggler svg {
  color: var(--white-color) !important;
  font-size: 27px;
}
#navbarSupportedContent .close-icon {
  /* right:0;
  
  padding: 1rem; */
}
#navbarSupportedContent .close-icon svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-weight: bold;
  left: 0;
}

/* desc */

.description .container-fluid {
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
  }
  .nav-item.dropdown:hover .dropdown-menu {
    /* display: block; */
    opacity: 1;
    visibility: visible;
  }
  #navbarSupportedContent .navbar-nav {
    background-color: transparent !important;
  }
  #navbarSupportedContent .navbar-nav .nav-link {
    color: var(--white-color) !important;
  }
  .dropdown-item {
    transition: 0.4s all;
  }
  .dropdown-item.active {
    color: var(--primary-color-orange) !important;
    background: none;
  }
  .dropdown-item:hover {
    color: var(--primary-color-orange) !important;
    background: none;
    transform: translateY(-1px);
  }
  /* #navbarSupportedContent .navbar-nav a {
    color: var(--white-color) !important;
  } */
}
@media screen and (min-width: 992px) {
  .form__container {
    position: relative;
  }
  .categories__courses-timer-number {
    font-size: 70px !important;
    gap: 2rem !important;
  }
  .Satisfaction__content {
    padding: 3rem 4rem 4rem !important;
  }
}
@media screen and (max-width: 1199.5px) {
  .navbar__header__menu.fix {
    height: 100px;
    background: rgb(45 45 45) !important;
  }
  .navbar__header__menu.scroll {
    display: none;
  }
  .navbar-nav {
    overflow: auto;
    padding-top: 0.5rem;
  }
  .navbar-collapse {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 0;
    transition: all 0.4s ease 0s;
  }
  .navbar-collapse.show {
    height: 100%;
  }

  .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 0;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    transition: 0.3s all;
    text-align: right;
  }
  .dropdown-menu.show {
    height: var(--subset-menu-height, 120px);
    overflow: auto;
    /* padding: 24px 0 !important; */
    margin: 16px !important;
  }
  .dropdown-item {
    color: var(--primary-color-green) !important;
    padding-right: 4.2rem !important;
  }
  .nav-item.dropdown .dropdown-menu a:hover {
    background-color: transparent !important;
    color: var(--primary-color-orange) !important;
  }
  .plus-toggle::after,
  .plus-toggle::before {
    content: "";
    position: absolute;
    padding-right: 0;
    width: 12px;
    height: 2.7px;
    margin-right: auto;
    background: #6c757d;
    left: 34px;
    top: 22px;
    transition: 0.3s all;
  }
  .plus-toggle::after {
    transform: rotate(90deg);
  }
  .plus-toggle.show::after {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 992px) {
  .about__us__img {
    width: 500px;
    height: 500px;
  }
  .about__us__img img {
    border-radius: 50%;
  }

  .about__us_courses-menu a::before {
    top: 18%;
    right: 0;
    height: 15%;
  }
  .categories__courses-timer-number {
    font-size: 40px !important;
  }
  .loader {
    width: 75px !important;
    height: 110px !important;
  }
}
@media only screen and (max-width: 768px) {
  .description__text-p {
    font-size: 75%;
  }
}
@media only screen and (max-width: 575px) {
  .course__box-title {
    font-size: 16px;
  }
  .brand__slider {
    padding: 2rem 0;
  }
  .categories__courses-timer-number {
    font-size: 30px !important;
  }
  .navbar__header__menu * {
    font-size: 13px;
  }
  .loader {
    width: 55px !important;
    height: 90px !important;
  }
}

/* course-box */

.course__box-price .discount {
  font-size: 8px;
  width: 22px;
  height: 22px;
  right: -12.5px;
  bottom: -7px;
}
.main__price {
  background-color: #fff;
  text-decoration: line-through;
  color: #a3abb7ed !important;
  text-decoration-color: red;
  border-radius: 20px;
}
.course__box-price:hover {
  background: transparent;
  color: var(--primary-color-green) !important;
}
.course__box-price:hover .discount {
  color: #fff;
}

/* loader */
.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eaf2f0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.35s;
}

.loader_container.d-none {
  display: none !important;
}

.loader_container.animation {
  visibility: hidden;
  opacity: 0;
}

.loader {
  width: 100px;
  height: 150px;
  --c1: var(--primary-color-green);
  --c2: var(--primary-color-orange);
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(
      90deg,
      var(--c1) 2px,
      var(--c2) 0 5px,
      var(--c1) 0
    )
    50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /
      100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s: 3px;
  --d: 180deg;
}
@keyframes l5-0 {
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0.5turn);
  }
}
@keyframes l5-1 {
  10%,
  70% {
    background-size: 100% 205%, var(--s, 0) 100%;
  }
  70%,
  100% {
    background-position: top, center;
  }
}
